.vagrant/
package-lock.json
.DS_Store
vendor/
config/development.config.php
config/autoload/*.local.php
data/cache/*
!data/cache/.gitkeep
!data/cache/xml-config/.gitkeep
data/cms/*.db
!data/cms/.gitkeep
phpunit.xml
.phpunit.result.cache
access_log
error_log
node_modules
public/library/
/.phpunit.cache/test-results
